
.abonne_label {


    cursor: pointer;
    display: flex;
    margin:0 0 50px;




    input {
        border:0;
        display: none;

    }
    span {
        flex:1 0 auto;
        padding:10px;
        display: inline-block;
        border:1px solid $medium_grey;
        font-family: $sans_font_stack;
        font-size: 1.4em;
        text-align: center;
        transition: all 0.3s;


        &.subscription_price {
            font-weight:bold;
            position: relative;
            left: -1px;
            text-transform: uppercase;
        }

    }

    &.selected {
        span {
            background: $font_color;
            color: white;
        }
    }
}
