

/*FOOTER*/
footer {

    font-family: $sans_font_stack;
	padding:20px 0;
	margin:20px 0 0;
    text-align: center;
}

footer p {
	padding:0;
    text-transform: uppercase;
    font-size: 1.2em;
}
footer a {

}
