.latest_articles {

    margin-bottom: 100px;

    .latest_article {

        height: 530px;
        margin-bottom: 20px;
        overflow: hidden;


        &.latest_article_no_fixed_height {
            height: auto;
            overflow: auto;

        }

        .latest_image {
            @extend .background_image;
            height: 264px;
            margin:0 0 20px;
            border: 0;
        }
        .latest_text {

            margin:0 0 20px;

            h2 {
                padding: 0 0 10px ;

                a {
                    color: inherit;
                    border:0;
                }
            }

            p {
                font-size: $small_font_size;
            }


            &.latest_text_dark {
                h2 {
                    background: $font_color;
                    color: white;
                    padding: 10px;
                    margin-top: -20px;
                    margin-bottom: 5px;
                    text-align: center;
                    font-size: 2em;
                }
            }

        }




    }

}


@media (min-width: 768px) {
    .latest_article { }

}
