.latest_edition {

    margin-bottom: 100px;

    text-align: center;

    a {
        border:0;
    }

    h2  {
        // font-size: 5em;
        a {
            color: inherit;
        }
    }
    .latest_edition_img {
        height: auto;
        width: 100%;
        margin:0 0 20px;
    }
}
