
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';
@import 'pagination';

@import 'header';
@import 'footer';


html,body {
    overflow-x: hidden;
}



body {
    background: $background_color;
    color: $font_color;
    font-family: $font_stack;
    font-size: 62.5%;
    font-weight: normal;
}


section {
    padding:30px 0;
}



.animate_in_viewport {


    overflow: hidden;
    article {
        transition: all 1s ease-in-out;
        transform: translateX(-110%);


    }

    // &.animate_in_viewport_0 { transition-delay: 0s};
    // &.animate_in_viewport_1 { transition-delay: 0.5s};
    // &.animate_in_viewport_2 { transition-delay: 1s};
    // &.animate_in_viewport_3 { transition-delay: 1.5s};
    // &.animate_in_viewport_4 { transition-delay: 2s};
    // &.animate_in_viewport_5 { transition-delay: 2.5s};

    &.animating {
        article {
                transform: translateX(0%);

        }
    }
}






@import 'slider';
@import 'sharing_buttons';


@import 'contact';
@import 'single';
@import 'single_coolspot';
@import 'post_slider';
@import 'artistofmonth';
@import 'section_advert_and_text';
@import 'section_full_size_image';
@import 'section_photo_and_text';
@import 'section_gallery';
@import 'section_video';
@import 'section_slider';
@import 'recommended_articles';

@import 'front_edition_cover';
@import 'front_first_articles';
@import 'front_latest_articles';
@import 'front_onenparles';
@import 'front_focus_articles';

@import 'front_coolspot_articles';
@import 'front_coolthings';
@import 'front_on_air';
@import 'front_agenda';

@import 'partners';
@import 'members';
@import 'index';
@import 'index_agenda';
@import 'coolthings';
@import 'adverts';
@import 'instagram';
@import 'cityguides';
@import 'editions';
@import 'abonne';

@import '../node_modules/slick-carousel/slick/slick.scss';
@import '../node_modules/lity/dist/lity';
