
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';

@import 'header';
@import 'footer';
@import '../node_modules/slick-carousel/slick/slick.scss';
@import 'slider';
@import 'sharing_buttons';



body {
	background: $background_color;
	color: $font_color;
	font-family: $font_stack;
	font-size: 62.5%;
	font-weight: normal;
}


section {
    padding:30px 0;
}



@import 'single';
@import 'post_slider';
@import 'section_advert_and_text';
@import 'section_full_size_image';
@import 'section_photo_and_text';
@import 'section_slider';
@import 'recommended_articles';
@import 'first_articles';
@import 'latest_articles';
