.latest_articles {

    margin-bottom: 80px;

    .latest_article {

        height: 530px;
        margin-bottom: 20px;
        overflow: hidden;

        .latest_image {
            @extend .background_image;
            height: 340px;
            margin:0 0 20px;
            border: 0;



        }
        .latest_text {

            margin:0 0 20px;

            h2 {
                padding: 0 0 10px ;

                a {
                    color: inherit;
                    border:0;
                }
            }

            p {
                font-size: 1.4em;
            }

        }




    }

}


@media (min-width: 768px) {
    .latest_article { }

}
