$image_height: 150px;
$image_height_mobile: 250px;
$image_margin: 30px;

.on_air_section {

    background-color: $light_grey;

    .on_air_video {
        margin: 0  0 $image_margin;
    }

    .latest_image {

        @extend .background_image;
        background-color: $light_grey;
        height: $image_height_mobile;
        margin:0 0;
        border: 0;
        display: inline-block;
    }


    &:last-child {
        margin-bottom: 0;
    }


}

@media (min-width: 768px) {
    .on_air_section {
        overflow: hidden;
        height: #{ ($image_height * 3) + ($image_margin * 2)};


        .latest_image {
            height: $image_height;
        }

        .large_video {
            .latest_image {
                height: #{ ($image_height * 3) + ($image_margin * 2)};
            }
        }

    }




}
