
section.section_full_size_image {


    img.full_width_image {
        width: 100%;
        height: auto;

    }

    figcaption {

    }

    p {
        text-align: center;
        font-style: italic;
        color: $medium_grey;
    }

}
