.coolspot_header {
    background: $dark_grey;
    color: white;
    height: auto;
    position: relative;
    margin:0 0 40px;
    padding:20px 0;

    h1 {
        padding:0 0 10px;
        margin: 0;
        text-transform: uppercase;
    }

    ul.restaurant_meta {
        font-family: $sans_font_stack;
        margin:0;
        padding:0;
        text-align: left;
        display: flex;
        flex-wrap: wrap;




        li {
            list-style: none;
            display:block;
            padding:0 0 10px;
            display: flex;
            flex-wrap: nowrap;
            font-size: $small_font_size;


            width: 100%;
            flex: 1 auto 0;

                @media (min-width: 768px) {

                    max-width: 50%;
                    width: 50%;

                }


            @media (min-width: 992px) {
                max-width: 25%;
                width: 25%;
            }


            a {
                color: white;
                border: 0;
            }

            p {
                font-size: 1em;
                flex: 1 auto 0;
                line-height: 110%;
                padding:10px 0 0 10px;
            }
            .fourchette_rating {
                font-size: 2em;
            }

            div {
                flex: 1 auto 0;
                width: 35px;
                height: 35px;
                background: red;
                display: inline-block;
                text-indent: -9999px;
                margin:0 8px 0 0;
                background: no-repeat center center;
                background-size: 31px;
                &.icon_star_rating {}
                &.icon_price_rating { background-image: url('../img/dollar.png');   }
                &.icon_chef { background-image: url('../img/chef.png');   }
                &.icon_opening { background-image: url('../img/clock.png');   }
                &.icon_location { background-image: url('../img/marker.png');   }
                &.icon_phone { background-image: url('../img/phone.png');   }
                &.icon_website { background-image: url('../img/link.png');   }
                &.icon_tag { background-image: url('../img/food.png');   }
            }





        }
    }
}


.tag_reserve {
     background:  url('../img/tag.png') no-repeat center center;
     background-size: contain;
     height: 15px;
     position: relative;
     top:2px;
     width: 20px;
     margin: 0 5px 0 0;
     display: inline-block;
}

.coolspot_cat {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: -10px;
    letter-spacing: 1px;

    span {
        background: green;
        width: 21px;
        height: 21px;
        margin: 0 15px 0 0 ;
        color: white;
        display: inline-block;
        text-align: center;
        font-size: 90%;

    }
}


span.stars {
    background:  url('../img/star_grey.svg') no-repeat center center;
    background-size: 30px;
    display: inline-block;
    height: 28px;
    position: relative;
    top:6px;
    width:30px;
    &.active {
        background-image:  url('../img/star.svg');
    }
    &.half {
        background-image:  url('../img/star_half.svg');
    }
}

span.price_dots {
    background-color: #444;
    display: inline-block;
    height: 20px;
    width:20px;
    border-radius: 50%;
    margin:3px;
    position: relative;
    top:-5px;
    &.active {
        background-color: white;
    }
    &.half {
        background-color: #aaa;
    }
}


.gallery_images {
    img {
        width: 100%;
        height: auto;
        margin:0 0 30px;
    }
}



.other_coolspots {
    border: 1px solid $medium_grey;
    text-align: center;
    h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-family: $sans_font_stack;
        padding: 15px 0 5px;
        margin: 0;
        font-size: 2.6em;
        border-bottom: 4px solid $dark_grey;
        span {
            font-size: 50%;
        }
    }
    .other_coolspot {
        a.other_coolspot_image {
            @extend .background_image;
            width: 70%;
            margin: 30px 15% 0;
            height: 400px;
            border: 0;
        }
        h3 {
            background: $dark_grey;
            color: white;
            padding: 15px;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 2em;
            margin-top:-4px;
            a {
                color: white;
                border: 0;
            }

        }
    }
}
