.encadre {
  display: block;
  padding: 15px;
  border: solid 1px #555;
}

.button_article {
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px black;
}
